{% extends "layout.html" %}

{% block title %}
    Buy
{% endblock %}

{% block main %}
<div class="container">
    <div class="row top-margin">
        <div class="col">
            <h1 class="text-center">Buy</h1>
        </div>
    </div>
    <div class="row top-margin justify-content-center">
        <div class="col-6">
            <form action="/buy" method="POST">
                <div class="mb-3">
                    <div class="form-check form-check-inline">
                        <input class="form-check-input" type="radio" name="inlineRadioOptions" id="inlineRadio1" value="stock" checked>
                        <label class="form-check-label" for="inlineRadio1">Stock</label>
                    </div>
                    <div class="form-check form-check-inline">
                        <input class="form-check-input" type="radio" name="inlineRadioOptions" id="inlineRadio2" value="mutual-fund">
                        <label class="form-check-label" for="inlineRadio2">Mutual Fund</label>
                    </div>
                    <div class="form-check form-check-inline">
                        <input class="form-check-input" type="radio" name="inlineRadioOptions" id="inlineRadio3" value="cryptocurrency" disabled>
                        <label class="form-check-label" for="inlineRadio3">Cryptocurrency</label>
                    </div>
                </div>
                <div class="mb-3">
                    <label for="buy-symbol" class="form-label">Symbol</label>
                    <input type="text" class="form-control" name="symbol" id="buy-symbol">
                </div>
                <div class="mb-3">
                    <label for="quantity-symbol" class="form-label">Quantity</label>
                    <input type="number" class="form-control" id="buy-quantity">
                </div>
                <button type="submit" class="btn dark-bg">Buy</button>
            </form>
        </div>
    </div>
</div>
{% endblock %}