{% extends "layout.html" %}

{% block title %}
    History
{% endblock %}

{% block main %}
<div class="container">
    <h1 class="text-center top-margin">Transaction History</h1>
    <div class="row top-margin justify-content-center">
        <div class="col col-10">
            {% if transactions %}
            <table class="table table-striped">
                <thead>
                    <tr>
                        <th scope="col">Timestamp</th>
                        <th scope="col">Type</th>
                        <th scope="col">Symbol</th>
                        <th scope="col">Price</th>
                        <th scope="col">Quantity</th>
                        <th scope="col">Total</th>
                    </tr>
                </thead>
                <tbody>
                    {% for transaction in transactions %}
                    <tr>
                        <td>{{ transaction['ts'] }}</td>
                        
                        {% if transaction['buy'] == True %}
                        {% if transaction['type'] == 0 %}
                        <td>Buy Stock</td>
                        {% elif transaction['type'] == 1 %}
                        <td>Buy Mutual Fund</td>
                        {% else %}
                        <td>Buy Crypto</td>
                        {% endif %}
                        {% else %}
                        {% if transaction['type'] == 0 %}
                        <td>Sell Stock</td>
                        {% elif transaction['type'] == 1 %}
                        <td>Sell Mutual Fund</td>
                        {% else %}
                        <td>Sell Crypto</td>
                        {% endif %}
                        {% endif %}
                        
                        <td>{{ transaction['symbol'] }}</td>
                        <td>${{ "%.2f"|format(transaction['price']) }}</td>
                        <td>{{ transaction['quantity'] }}</td>

                        {% if transaction['buy'] == True %}
                        <td>-${{ "%.2f"|format(transaction['price'] * transaction['quantity']) }}</td>
                        {% else %}
                        <td>+${{ "%.2f"|format(transaction['price'] * transaction['quantity']) }}</td>
                        {% endif %}
                    </tr>
                    {% endfor %}
                </tbody>
            </table>
            {% else %}
            <h3>No Transactions</h3>
            {% endif %}
        </div>
    </div>
</div>
{% endblock %}