{% extends "layout.html" %}

{% block title %}
    Simulator
{% endblock %}

{% block main %}
<div class="container">
    <div class="row top-margin">
        <div class="col col-6">
            <h5 class="top-margin">Account Value</h5>
            <h1 class="account-value">${{ "%.2f"|format(portfolio_value) }}</h1>
            <div class="row top-margin justify-content-center">
                <div class='col col-auto'>
                    <button class="btn btn-lg dark-bg"><a class='button-link' href='/search'>Search</a></button>
                </div>
                <div class='col col-auto'>
                    <button class="btn btn-lg dark-bg"><a class='button-link' href='/buy'>Buy</a></button>
                </div>
                <div class='col col-auto'>
                    <button class="btn btn-lg dark-bg"><a class='button-link' href='/sell'>Sell</a></button>
                </div>
            </div>
        </div>
        <div class="col col-6">
            <div class="graph"></div>
        </div>
    </div>
    <div class="row">
        <div class="col">
            <h3 style="display:inline; margin-right: 0.5em;">Current Holdings</h3><a class="link" href="/history">Transaction History</a>
        </div>
    </div>
    <div class="row top-margin">
        <div class="col-1">
            <h5 style="display:inline; margin-left: 1em;">Cash</h5>
        </div>
        <div class="col">
            ${{ "%.2f"|format(cash) }} • {{ (cash * 100 / portfolio_value)|round|int }}% of portfolio
        </div>
    </div>
    <div class="row top-margin">
        <div class="col-1">
            <h5 style="display:inline; margin-left: 1em; margin-right: 0.5em;">Stocks</h5>
        </div>
        <div class="col">
            ${{ "%.2f"|format(stock_value) }} • {{ (stock_value * 100 / portfolio_value)|round|int }}% of portfolio
        </div>
    </div>
    {% if stock_value > 0 %}
    <div class="row top-margin">
        <div class="col col-11 offset-1">
            <table class="table table-striped">
                <thead>
                    <tr>
                        <th scope="col">Stock</th>
                        <th scope="col">Current Price</th>
                        <th scope="col">Quantity</th>
                        <th scope="col">Total</th>
                    </tr>
                </thead>
                <tbody>
                    {% for item in portfolio if item.type == 0 %}
                    <tr>
                        <th scope="row">{{ item.symbol }} ({{ item.name }})</th>
                        <td>${{ "%.2f"|format(item['price']) }}</td>
                        <td>{{ item['quantity'] }}</td>
                        <td>${{ "%.2f"|format(item['price'] * item['quantity']) }}</td>
                    </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>
    </div>
    {% endif %}
    {% if fund_value > 0 %}
    <div class="row top-margin">
        <div class="col-1">
            <h5 style="display:inline; margin-left: 1em; margin-right: 0.5em;">Funds</h5>
        </div>
        <div class="col">
            ${{ "%.2f"|format(fund_value) }} • {{ (fund_value * 100 / portfolio_value)|round|int }}% of portfolio
        </div>
    </div>
    <div class="row top-margin">
        <div class="col col-11 offset-1">
            <table class="table table-striped">
                <thead>
                    <tr>
                        <th scope="col">Mutual Fund</th>
                        <th scope="col">Current Price</th>
                        <th scope="col">Quantity</th>
                        <th scope="col">Total</th>
                    </tr>
                </thead>
                <tbody>
                    {% for item in portfolio if item.type == 1 %}
                    <tr>
                        <th scope="row">{{ item.symbol }} ({{ item.name }})</th>
                        <td>${{ "%.2f"|format(item['price']) }}</td>
                        <td>{{ item['quantity'] }}</td>
                        <td>${{ "%.2f"|format(item['price'] * item['quantity']) }}</td>
                    </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>
    </div>
    {% endif %}
    {% if crypto_value > 0 %}
    <div class="row top-margin">
        <div class="col-1">
            <h5 style="display:inline; margin-left: 1em; margin-right: 0.5em;">Crypto</h5>
        </div>
        <div class="col">
            ${{ "%.2f"|format(crypto_value) }} • {{ (crypto_value * 100 / portfolio_value)|round|int }}% of portfolio
        </div>
    </div>
    <div class="row top-margin">
        <div class="col col-11 offset-1">
            <table class="table table-striped">
                <thead>
                    <tr>
                        <th scope="col">Cryptocurrency</th>
                        <th scope="col">Current Price</th>
                        <th scope="col">Quantity</th>
                        <th scope="col">Total</th>
                    </tr>
                </thead>
                <tbody>
                    {% for item in portfolio if item.type == 2 %}
                    <tr>
                        <th scope="row">{{ item.symbol }} ({{ item.name }})</th>
                        <td>${{ "%.2f"|format(item['price']) }}</td>
                        <td>{{ item['quantity'] }}</td>
                        <td>${{ "%.2f"|format(item['price'] * item['quantity']) }}</td>
                    </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>
    </div>
    {% endif %}
</div>
{% endblock %}